.search_seance {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.search_seance h1 {
    color: white;
}

.search_seance form {
    margin: 3em;
}

.search_seance form #date {
    width: 25em;
    height: 3em;
}

.search_seance form #btn-search-date {
    width: 5em;
    height: 3em;
}

.background-color-black h2 {
    color: white;
   text-align: center;
   padding: 1.2em;
   text-transform: uppercase;
  font-size: 30px;
}